*{
	margin: 0;
	padding: 0;
}


body{
	width: 100%
	height: 100vh;
	background: linear-gradient(to right, #71EFA3, #CDF3A2);
}

.textb{
	width: 40%;
	padding: 20px;
	border: none;
}

.task-box{
	width: 100%;
	margin: auto;
	padding-top: 120px;
}

.textb:focus{
	outline: none;

}
.noncomp{
	margin-top: 42px;

}

.noncomp h3{
	margin:  10px 0;
}

.task{
	width: 30%;
	background: rgba(255,255,255,0.5);
	padding: 20px;
	margin: 6px 0px;
	overflow: hidden;
}

.task i{
	float: right;
	margin: 0 4px;
	line-height: 30px;
	cursor: pointer;
}

.fa-trash{
	color: red;
}

.fa-check{
	color: green;
}

.comp{
	margin-top: 42px;
}


